<div class="flexrow">
  <ol class="items-list" id="Tag">
    <li class="item flexrow item-header">
      <div class="item-name">{{{sheetSettings.Tags1Label}}}</div>
    </li>
    <li class="tag-list">
      {{> systems/cyphersystem/templates/item-lists/tags-items-list.html list=itemLists.tags1}}
    </li>
  </ol>
</div>

{{#if sheetSettings.showTags2}}
  <div class="flexrow">
    <ol class="items-list" id="TagTwo">
      <li class="item flexrow item-header">
        <div class="item-name">{{{sheetSettings.Tags2Label}}}</div>
      </li>
      <li class="tag-list">
        {{> systems/cyphersystem/templates/item-lists/tags-items-list.html list=itemLists.tags2}}
      </li>
    </ol>
  </div>
{{/if}}

{{#if sheetSettings.showTags3}}
  <div class="flexrow">
    <ol class="items-list" id="TagThree">
      <li class="item flexrow item-header">
        <div class="item-name">{{{sheetSettings.Tags3Label}}}</div>
      </li>
      <li class="tag-list">
        {{> systems/cyphersystem/templates/item-lists/tags-items-list.html list=itemLists.tags3}}
      </li>
    </ol>
  </div>
{{/if}}

{{#if sheetSettings.showTags4}}
  <div class="flexrow">
    <ol class="items-list" id="TagFour">
      <li class="item flexrow item-header">
        <div class="item-name">{{{sheetSettings.Tags4Label}}}</div>
      </li>
      <li class="tag-list">
        {{> systems/cyphersystem/templates/item-lists/tags-items-list.html list=itemLists.tags4}}
      </li>
    </ol>
  </div>
{{/if}}