<div class="flexrow">
  <ol class="items-list" id="Tag">
    <li class="item flexrow item-header">
      <div class="item-name">{{{sheetSettings.Tags1Label}}}</div>
      <div class="item-controls">
        <a class="item-control item-create {{#if sheetSettings.isObserver}}disabled{{/if}}" title="{{localize 'CYPHERSYSTEM.CreateItem'}}" data-type="tag">
          <i class="fas fa-plus"></i>
        </a>
      </div>
    </li>
    {{> systems/cyphersystem/templates/item-lists/tags-list.html list=itemLists.tags1}}
  </ol>
</div>

{{#if sheetSettings.showTags2}}
  <div class="flexrow">
    <ol class="items-list" id="TagTwo">
      <li class="item flexrow item-header">
        <div class="item-name">{{{sheetSettings.Tags2Label}}}</div>
      </li>
      {{> systems/cyphersystem/templates/item-lists/tags-list.html list=itemLists.tags2}}
    </ol>
  </div>
{{/if}}

{{#if sheetSettings.showTags3}}
  <div class="flexrow">
    <ol class="items-list" id="TagThree">
      <li class="item flexrow item-header">
        <div class="item-name">{{{sheetSettings.Tags3Label}}}</div>
      </li>
      {{> systems/cyphersystem/templates/item-lists/tags-list.html list=itemLists.tags3}}
    </ol>
  </div>
{{/if}}

{{#if sheetSettings.showTags4}}
  <div class="flexrow">
    <ol class="items-list" id="TagFour">
      <li class="item flexrow item-header">
        <div class="item-name">{{{sheetSettings.Tags4Label}}}</div>
      </li>
      {{> systems/cyphersystem/templates/item-lists/tags-list.html list=itemLists.tags4}}
    </ol>
  </div>
{{/if}}